*{
    font-family: "Montserrat", sans-serif;
    padding-top: 100px;
}
.Head1
{
    font-size: 22px;
    font-weight: bold;
    padding-left: 120px;
}
.Container
{
  background-color: whitesmoke;
  padding-top: 40px;
  display: flex; 
  gap: 80px;
  margin-top: 120px;
}
.Resized-image
{
    height: 400px;
    width: 490px;
    background-color: whitesmoke;
}
.para1
{
    font-size: 14px;
    padding-left: 120px;
}
.para2
{
    padding-left: 120px;
    padding-top: 10px;
    letter-spacing: 0.1px;
    line-height: 24px; 
    text-align: justify;
}
.stats-container
{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
}
.stat-item
{
    width: 25%;
    display: flex; /* Add flex display */
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center the text */
    padding: 20px;
    background-color: white;
}
.stat-icon
{
    background-color: white;
    width: 100px;
}
.Text
{
    background-color: white;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
}
.Text1
{
    background-color: white;
    padding-top: 15px;
    font-size: 20px;
}
.Text2
{
    background-color: white;
    color: black;
    margin-top: 10px;
    font-size: 12px;
}
.Text3
{
    background-color: white;
    color: black;
    margin-top: 40px;
    font-size: 12px;
}
.Container3
{
    background-color: whitesmoke;
    padding-top: 39px;
    padding-bottom: 30px;
}
.Heading
{
    font-weight: bold;
    text-align: center;
}
.Moti
{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #3e3f5e;
    line-height: 24px;
}
.icon
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.Team
{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 30px;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.Image
{
    height: 252px;
    width: 252px;
    border-radius: 8px 8px 0px 0px;
}
.Team-member
{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
}
.Facebook
{
height: 35px;
width: 35px;
background-color: #2b2f4c;
color: white;
font-size: 16px;
font-weight: 600;
border-radius: 90px;
margin-bottom: 10px;
}
.Linkedin
{
height: 35px;
width: 35px;
background-color: #2b2f4c;
color: white;
font-size: 16px;
font-weight: 600;
border-radius: 90px;
margin-bottom: 10px;
}    
.Container4
{
    background-color: whitesmoke;
    margin-top: 0px;
}
.Order-Procedure
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    gap: 20px;
    padding: 20px 40px 40px 40px;
}
.Instruction-Box
{
    height: 150px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}
.Symbol
{
    display: flex;
    height: 55px;
    width: 55px;
    font-size: 25px;
    background-color: #f55d2c;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    margin-left: 120px;
}
.Msg
{
    background-color: white;
    margin-top: 15px;
    text-align: center;
    color: black;
}
