*{
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
body
{
  background-color: whitesmoke;
}
.update
{
  margin-top: 0px;
  padding: 25px;
  padding-left: 100px;
  padding-bottom: 0px;
}
.new
{
  margin-top: 130px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding: 25px;
  color: rgb(180, 174, 174);
  background-color: rgb(47, 47, 75); 
  padding-left: 130px;
  font-size: 14px;
}
.Header
{
 padding: 25px;
 color: rgb(180, 174, 174);
 background-color: rgb(47, 47, 75); 
 padding-left: 130px;
 font-size: 14px;
}
.header:hover
{
  color:white;
  transition: 1s;
  cursor: pointer;
}
.Mod
{
  color:white;
}
.First 
{  
    padding-left: 100px;
    padding-top: 42px;
    font-size: 28px;
    font-weight: bold; 
    color: black;  
}
.Second
{
  padding-left: 100px;
  padding-bottom: 0px;
  color: black;
  font-size: 15px;
}

.Container
{
  background-color: white;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 615px;
  border-radius: 10px;
  display: flex; 
  gap: 20px;
}
.Left
{
  flex: 1;
  padding: 20px;
  padding-left: 25px;
  padding-bottom: 0px;
  height: 390px;
}
.Right
{
  background-color: whitesmoke;
  flex: 1;
  padding: 20px;
  padding-top: 0px;
  padding-left: 15px;
}
.Name-label
{
  color:black;
  margin-bottom: 8px;
  font-size: 14px;
}
input[type ="text"]
{
  padding-right: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: 3px;
  border-radius: 4px;
  outline:none;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
input[type="text"]::placeholder 
{
  padding-left: 10px;
  font-size: 15px;
  width: 100%;
}
input[type ="email"]
{
  padding-right: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: 3px;
  border-radius: 4px;
  outline:none;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
input[type="email"]::placeholder 
{
  padding-left: 10px;
  font-size: 15px;
  width: 100%;
}
input[type ="purpose"]
{
  padding-right: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: 3px;
  border-radius: 4px;
  outline:none;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
input[type="purpose"]::placeholder 
{
  padding-left: 10px;
  font-size: 15px;
  width: 100%;
}
.Message-box {
  padding-right: 355px;
  padding-bottom: 70px;
  padding-left: 5px;
  padding-top: 5px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}
/* Style the placeholder */
.Message-box::placeholder {
  padding-left: 10px;
  font-size: 15px;
}
.Submit-Request
{
  background-color: #ff6a35;
  color: white;
  border-radius: 6px;
  border: 0px;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
}
.Islamabad
{
  background-color: white;
  padding-left: 15px;
  padding-right: 429px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 7px;
  border: none;
  margin-bottom: 2px;
}
.Rawalpindi
{
  background-color: white;
  padding-left: 15px;
  padding-right: 420px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 20px;
  border-radius: 7px;
  border: none;
  margin-bottom: 2px;
}
.Kharian
{
  background-color: white;
  padding-right: 462px;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 20px;
  border-radius: 7px;
  border: none;
  margin-bottom: 2px;
}
.Sialkot
{
  background-color: white;
  padding-left: 15px;
  padding-right: 476px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 20px;
  border-radius: 7px;
  border: none;
  margin-bottom: 2px;
}
.Faisalabad
{
  background-color: white;
  padding-left: 15px;
  padding-right: 426px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 20px;
  border-radius: 7px;
  border: none;
  margin-bottom: 2px;
}
.Lahore
{
  background-color: white;
  padding-left: 15px;
  padding-right: 474px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 20px;
  border-radius: 7px;
  border: none;
  margin-bottom: 2px;
}
.Multan
{
  background-color: white;
  padding-left: 15px;
  padding-right: 471px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 20px;
  border-radius: 7px;
  border: none;
  margin-bottom: 2px;
}
.Karachi
{
  background-color: white;
  padding-left: 15px;
  padding-right: 466px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 20px;
  border-radius: 7px;
  border: none;
  margin-bottom: 2px;
}
.accordion-body
{
  background-color: white;
  padding-left: 10px;
  width: 570px;
}
.accordion-header
{
  padding-left: 0px;
  font-size: 24px;
}


/*=============== VARIABLES CSS ===============*/

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/

  --body-color: #F7F7F7;
  --blue-color: #2B2F4C;
  --light-blue: #60678571;
  --text-color: #606785;
  --white-color: #FFFFFF;
  --orange-color: #F75C30;

  /*========== Font and typography ==========*/

  --body-font: "Montserrat", sans-serif;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-absolute: 100;
}

body{
position: relative;
} 

/* Dark mode */

body.dark-mode{

  --title-color: hsl(230, 48%, 85%);
  --text-color: hsl(230, 16%, 70%);
  --border-color: hsl(230, 12%, 18%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(230, 12%, 8%);
  --container-color: hsl(230, 12%, 12%);

  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

/* Pre defined css */

*,*:after,*:before{

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}

:active,:hover,:focus{  

  outline: 0 !important;
  outline-offset: 0 !important;

}


html{

  scroll-behavior: smooth;

}


body{

  font-family: var(--body-font) !important;
  background: var(--body-color) !important;
  transition: background-color .4s;
  color: var(--text-color);
}



a{
  text-decoration: none !important; 
}

a:hover{
  text-decoration: none !important;  
}

ul li,
ol li{  
  list-style-type: none;
}

.main{  
  overflow: hidden;
}

.main-btn{

display: inline-block;
color: var(--white-color) !important;
padding: 0.5rem 0.9rem;
font-size: 1rem;
font-family: var(--body-font);
background: var(--orange-color);
font-weight: 500;
position: relative;
border: none;
border-radius: 10px;
cursor: pointer;
width: fit-content;
transition: all .3s;

}


.main-btn:hover{
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
transition: all .3s;
}

.text-lg{

  font-size: 3.06rem;
  font-weight: 600;
  color: var(--blue-color);   
  font-family: var(--body-font);
  margin: 0 !important;

}

.text-md{

  font-size:1.7rem;
  color: var(--blue-color);
  font-family: var(--body-font);
  font-weight: 600;
  margin: 0;
}

.text-sm{

  font-size: 1.35rem;
  color: var(--blue-color);
  font-family: var(--body-font);
  font-weight: 600;
  margin: 0 !important; 
}

p{

  color: var(--text-color);
  font-size: 0.7rem;
  font-family: var(--body-font);
  font-weight: 300;
  margin: 0 !important;
  padding: 0 !important;

}

span{

  color: var(--text-color);
  font-size: 0.8rem;

}

.tag{
background: var(--orange-color);
padding: 5px;
border-radius: 5px;
color: var(--body-color);
}


/* Scroll bar  */

::-webkit-scrollbar{

  width: 0.5rem;
  background-color:hsl(228, 14%, 72%);
}

::-webkit-scrollbar-thumb{

  background-color:hsl(233, 8%, 60%);
}

::-webkit-scrollbar-thumb:hover{

  background-color:hsl(230, 16%, 45%);
}

.wrapper{
padding: 0 0 85px 0;
}

/* ======== Navbar CSS ========= */

  
.header{

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1050;

}

.navbar{
  padding: 12px 0 0 0 !important;
  background: var(--white-color) !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.search-bar{
  background: transparent;
  border: 1px solid var(--light-blue);
  border-radius: 4px;
  padding: 2px 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar input{
  border: none;
}

.search-bar input{
  border: none;
}

input[type="search"]::-webkit-search-cancel-button{
    display: none;
}
.upperNav{
  background: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 15px;
  color: var(--body-color);
  font-size: 0.9rem;
}

.navbar-toggler{
box-shadow: none !important;
}

.nav-actions{
display: flex;
flex-direction: row;
justify-content: end;
}

.nav-actions span{
display: flex;
flex-direction: column;
align-items: center;
padding: 0 6px;
cursor: pointer;
transition: all 0.3s;
}

.nav-actions span i{
font-size: 1.1rem;
}

.nav-actions span:hover{
color: var(--orange-color);
transition: all 0.4s;
}

.cat-btn,.phone-btn{
display: flex;
align-items: center;
gap: 6px;
color: var(--white-color);
padding: 0.5rem 0.8rem;
font-size: 1.1rem;
font-family: var(--body-font);
background: var(--blue-color);
font-weight: 500;
position: relative;
transition: .3s ease-in-out;
border: none;
cursor: pointer;
width: fit-content;
}

.phone-btn{
background: var(--orange-color);
}


.phone-btn a,
.phone-btn span{
color: var(--body-color);
}


.cat-btn span{
color: var(--body-color);
}

.navbar-expand-lg{
flex-wrap: wrap !important;
}

.nav-list{

display: flex;
align-items: center;
justify-content: center;
flex-direction: row;

}

.nav-item{

padding: 0 1.7rem 0 0;

}

.nav-link{
color: var(--blue-color) !important;
font-size: 0.99rem !important;
font-family: var(--body-font);
font-weight: 500 !important;
transition: all .3s;
padding-left: 0 !important;
}


.nav-link:hover,
.nav-link:focus,
.nav-link.active{

color: var(--orange-color) !important;

}

/* ======== Footer CSS ========= */


.footer-wrapper{
background: var(--blue-color);
padding: 80px 0;
}

.footer-wrapper .footer-link h3{
font-size: 18px;
color: var(--white-color);
}

.footer-wrapper .footer-link-list{
display: flex;
flex-direction: column;
align-items: flex-start;
font-size: 14px;
}

.footer-wrapper .footer-link-list a,
.footer-wrapper .footer-link-list span{
color: #9fa7ca;
padding: 3px 0;
transition: all .3s;
}


.footer-wrapper .footer-link-list a:hover{
color: var(--orange-color);
transition: all .3s;

}

.footer-right input{
border: none;
padding: 8px 24px;
border-radius: 5px 0 0 5px;
margin-right: -4px;
}

.footer-right button{
border-radius: 0 5px 5px 0;
}